<%= link_to blog_post, id: dom_id(blog_post), class: "p-4 -mx-4 hover:bg-gray-100" do %>
  <div>
    <h5 class="font-bold w-full flex justify-between">
      <%= blog_post.title %>
      <% if blog_post.draft? %>
        <div class="p-2 rounded bg-gray-100 text-gray-900 text-sm">Draft</div>
      <% elsif blog_post.scheduled? %>
        <div class="p-2 rounded bg-slate-300 text-gray-900 text-sm">Scheduled</div>
      <% end %>
    </h5>
    <div class="text-sm text-gray-700"><%= blog_post.published_at %></div>
  </div>
<% end %>
