<div class="flex justify-between align-middle">
  <h1><%= link_to "<", @blog_post, class: "no-underline hover:font-bold" %> Edit Post</h1>
  <%= button_to "Delete", @blog_post, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "border border-gray-200 rounded shadow px-2 py-1 hover:bg-gray-100" %>
</div>
<%= render "form", locals: {blog_post: @blog_post} %>
